.card-container {
  width: 900px;
   margin: 0 auto;

}
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

.card {
  width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230 230 230);
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 5px rgb(230 230 230);

}

.card:hover {
  box-shadow: 0 0 5px rgb(177, 175, 175);
  transition: 100ms;
}

.img {
  width: 150px;
}

.card h4 {
  text-shadow: 1px 1px 1px cadetblue;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
}

.card p {
  opacity: 0.6;
}
